<h1>Add new event instance</h1>
<p><%= link_to "Add new event instance", new_event_event_instance_path %></p>

<h1>Listing event instances</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Time</th>
  </tr>

<% @event_instances.each do |event_instance| %>
  <tr>
    <td><%=h event_instance.event.name %></td>
    <td><%=h event_instance.time.strftime("%d.%m.%Y %H:%M") %></td>
  </tr>
<% end %>
</table>