<h1>When did you...</h1>

<ul>

<% @events.each do |event| %>
  <li>
    <h2><%= link_to event.name, event %></h2>
    <p>[Luo instanssi]</p>
  </li>
<% end %>
<li>
    <% form_for(@event) do |f| %>
      <p>
        <%= f.text_field :name, {:placeholder => 'Create a new event?'}%>
        <%= f.submit 'Create' %>
      </p>
    <% end %>
    
</li>
</ul>



<!--<%= link_to 'New event', new_event_path %>-->